.ll-pingjia-style{
  width:100%;
  height:100%;
  background-color:rgba(7,17,27,0.1);
}
.ll-pingjia-style .mint-navbar{
  line-height:80px;
  border-bottom:1px solid rgba(7,17,27,0.1);
}
.ll-pingjia-style .mint-tab-item-label{
   font-size:28px;
   line-height:28px;
 }
.ll-pingjia-style .mint-navbar .mint-tab-item.is-selected{
  color:rgb(240,20,20);
  border-bottom:none;
}

/*评分区域*/
.ll-pingjia-style .ll-pingjia-fenshu{
  width:100%;
  height:220px;
  margin-top:1px;
  background-color:white;
}
.ll-pingjia-style .ll-pingfen-fs-left{
  float:left;
  width:275px;
  height:100%;
  box-sizing:border-box;
  padding:36px;
  border-right:1px solid rgba(7,17,27,0.1);
  text-align:center;
}
.ll-pingjia-style .ll-pingfen-fs-left p:first-child{
  font-size:48px;
  color:rgb(255,153,0);
  line-height:56px;
}
.ll-pingjia-style .ll-pingfen-fs-left p:nth-child(2){
  font-size:24px;
  color:rgb(7,17,27);
  line-height:24px;
  margin-top:12px;
  font-weight: bold;
}
.ll-pingjia-style .ll-pingfen-fs-left p:last-child{
  font-size:20px;
  color:rgb(147,153,159);
  line-height:20px;
  margin-top:16px;
}
.ll-pingjia-style .ll-pingfen-fs-right{
  float:left;
  width:calc(100% - 275px);
  height:100%;
  box-sizing:border-box;
  padding:36px 48px;
}
/*.ll-pingjia-style .ll-pingfen-fs-right>div{*/
   /*text-align:left;*/
 /*}*/
.ll-pingjia-style .ll-pingfen-fs-right>div div{
  display:inline-block;
}
.ll-pingjia-style .ll-pingfen-fs-right>div:not(:first-child){
  margin-top:16px;
}
.ll-pingjia-style .ll-pingfen-fs-right>div span:first-child{
  font-size:24px;
  color:rgb(7,17,27);
  line-height: 36px;
  font-weight: bold;
  margin-right:24px;
}
.ll-pingjia-style .ll-pingfen-fs-right>div span:last-child{
  font-size:24px;
  color:rgb(255,153,0);
  line-height:36px;
  margin-left:24px;
}
.ll-pingjia-style .ll-pingfen-fs-right .sdsj span:last-child{
  font-size:24px;
  color:rgb(147,153,159);
  line-height: 36px;
}

/*满意度区域*/
.ll-pingjia-style .ll-pingjia-manyi{
  margin-top:40px;
  background-color: white;
  border-top:1px solid rgb(147,153,159);
  border-bottom:1px solid rgb(147,153,159);
  padding:0 36px;
  box-sizing:border-box;
}
/*.ll-pingjia-style .ll-pingjia-manyi>div{*/
  /*text-align:left;*/
/*}*/
.ll-pingjia-style .ll-pingjia-manyi button{
  font-size:30px;
  border:none;
  margin:36px auto;
  padding:10px;
  /*outline:none;*/
}
.ll-pingjia-style .ll-pingjia-manyi button span{
  font-size:25px;
}
.ll-pingjia-style .ll-pingjia-manyi button:first-child{
  background-color: rgb(0,160,220);
}
.ll-pingjia-style .ll-pingjia-manyi button:nth-child(2){
  background-color: rgb(204,236,247);
  margin-left:20px;
}
.ll-pingjia-style .ll-pingjia-manyi button:last-child{
  background-color: rgb(234,235,237);
  margin-left:20px;
}
.ll-pingjia-style .ll-pingjia-manyi-top{
  border-bottom:1px solid rgb(147,153,159);
}
.ll-pingjia-style .ll-pingjia-manyi-bot{
  line-height:80px ;
  font-size:25px;
  color:rgb(147,153,159);
}
/*评价的数据区域*/
.ll-pingjia-style .ll-pingjia-list-every{
  background-color: white;
  padding:36px;
  overflow:hidden;
  box-sizing:border-box;
  border-bottom:1px solid rgb(147,153,159);
}
 .ll-pingjia-list-every>div:first-child{
  float:left;
  height:56px;
  width:56px;
  background-image: url("../decrease_4@3x.png");
  background-size:100% 100%;
  border-radius:50%;
  background-color: green;
}
 .ll-pingjia-list-every .ll-pingjia-list-evt{
  float:right;
  width:calc(100% - 80px);
  margin-left:24px;
  /*text-align:left;*/
}
.ll-pingjia-style .ll-pingjia-list-evt div:first-child{
  overflow:hidden;
}
.ll-pingjia-style .ll-pingjia-list-evt div:first-child span:first-child{
  font-size:20px;
  color:rgb(7,17,27);
  line-height: 24px;
  float:left;
}
.ll-pingjia-style .ll-pingjia-list-evt div:first-child span:last-child{
  font-size:20px;
  font-weight:200;
  color:rgb(147,153,159);
  line-height: 24px;
  float:right;
}
.ll-pingjia-style .ll-pingjia-list-evt>div:nth-child(2){
  margin-top:8px;
}
.ll-pingjia-style .ll-pingjia-list-evt>div:nth-child(2) div{
  display:inline-block;
}
.ll-pingjia-style .ll-pingjia-list-evt>div:nth-child(2) span{
  font-size:20px;
  font-weight:200;
  color:rgb(147,153,159);
  line-height: 24px;
  margin-left:12px;
}
.ll-pingjia-style .ll-pingjia-list-evt p:nth-child(3) {
  font-size:24px;
  color:rgb(7,17,27);
  line-height: 36px;
  margin-top:12px;
}
.ll-pingjia-style .ll-pingjia-list-evt>div:nth-child(4){
  margin-top:16px;
}
.ll-pingjia-style .ll-pingjia-list-evt>div:nth-child(4) img{
  font-size:24px;
  color:rgb(0,160,220);
  line-height:32px;
  vertical-align: top;
}
.ll-pingjia-style .ll-pingjia-list-evt>div:nth-child(4) span{
  font-size:18px;
  color:rgb(147,153,159);
  line-height:32px;
  border:1px solid rgba(7,17,27,0.1);
  border-radius:2px;
  background-color: rgb(255,255,255);
  margin-left:16px;
  padding:5px 12px;
  width:100px;
  display:inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



